body{
background-color : gray;
width:80%;
height : 500px;
margin-right :auto;
margin-left :auto;
}

#newnotebtn{
float :left;
width: 40px;
height:40px;
position:relative;
left:20px;
top :10px;
-moz-transform:scale(0.5,0,5);
-o-transform:scale(0.5,0,5);
-webkit-transform:scale(0.5,0,5);

}

#newnotebtn:hover{
width: 60px;
height: 60px;
}

#savebtn{
width: 50px;
height: 50px;
position:relative;
float :left;
left:30px;
top :5px;
-moz-transform:scale(0.5,0,5);
-o-transform:scale(0.5,0,5);
-webkit-transform:scale(0.5,0,5);
}

#savebtn:hover{
width: 60px;
height: 60px;
}

#container{
width:100%;
overflow-Y:auto;
background-color:lightgray;
margin-right:auto;
margin-left :auto;
border : 3px solid black;
margin-top:20px;
margin-bottom :20px;
}

#close{
	display:none;
	width: 15px;
	height:15px;
}

ul li div.colors1{
background-color : #FFFF00;
}

ul li div.colors2{
background-color : #FF80B3;
}

ul li div.colors3{
background-color : #00FFFF;
}

ul li{
list-style : none;
margin : 20px;
float :left;
position:relative;
}

ul li div{
text-decoration: none;
color:#000;
display:block;
height:150px;
width :150px;
padding : 15px;
border: 2px solid black;
box-shadow:10px 10px 5px gray;
transform:scale(1,1);
}

ul li div:hover{


}

ul li div img{
padding: 1px 3px;
margin: 10px;
position: absolute;
top: 0;
right: 0;
}

#takingNotes{
clear :both;
float:left;
position:relative;
left:20px;
top :10px;
}

.note-title, .note-content{
font-family: Comic Sans MS, Monospace;
background:rgba(0,0,0,0);
border-style: none;
resize: none;
font-size: 140%;
font-weight: bold;
height: 30px;
width : 90%; 
margin-top:10px;
}

.note-content{
	font-size: 80%;
	height: 80px;
	width : 100%; 
	
}

ul li:nth-child(even) div {
-moz-transform:rotate(5deg);
-o-transform:rotate(5deg);
-webkit-transform:rotate(5deg);
position:relative;
top:5px;
}

ul li:nth-child(odd) div {
-moz-transform:rotate(-5deg);
-o-transform:rotate(-5deg);
-webkit-transform:rotate(-5deg);
position:relative;
top:5px;
}